@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
:root {
  --button-outline: rgba(0, 0, 0, .10);
  --badge-outline: rgba(0, 0, 0, .05);

  /* Automatic computation of border around primary / danger buttons */
  --opaque-button-border-intensity: -8;
  /* In terms of percentages */

  /* Backgrounds applied on top of other backgrounds when hovered/active */
  --elevate-1: rgba(0, 0, 0, .03);
  --elevate-2: rgba(0, 0, 0, .08);

  --background: 0 0% 100%;

  --foreground: 220 15% 15%;

  --border: 220 10% 90%;

  --card: 0 0% 99%;

  --card-foreground: 220 15% 15%;

  --card-border: 220 8% 92%;

  --sidebar: 220 12% 97%;

  --sidebar-foreground: 220 15% 15%;

  --sidebar-border: 220 8% 88%;

  --sidebar-primary: 215 70% 35%;

  --sidebar-primary-foreground: 0 0% 100%;

  --sidebar-accent: 220 12% 90%;

  --sidebar-accent-foreground: 220 15% 15%;

  --sidebar-ring: 215 70% 50%;

  --popover: 0 0% 98%;

  --popover-foreground: 220 15% 15%;

  --popover-border: 220 8% 88%;

  --primary: 215 70% 35%;

  --primary-foreground: 0 0% 100%;

  --secondary: 220 8% 88%;

  --secondary-foreground: 220 15% 15%;

  --muted: 220 12% 93%;

  --muted-foreground: 220 12% 40%;

  --accent: 35 100% 50%;

  --accent-foreground: 220 15% 15%;

  --destructive: 0 72% 40%;

  --destructive-foreground: 0 0% 100%;

  --input: 220 15% 75%;
  --ring: 220 70% 50%;
  --chart-1: 220 70% 28%;
  --chart-2: 38 92% 50%;
  --chart-3: 220 12% 45%;
  --chart-4: 200 60% 35%;
  --chart-5: 280 60% 40%;

  --font-sans: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-serif: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --font-mono: Menlo, monospace;
  --radius: .5rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(220 15% 12% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(220 15% 12% / 0.08);
  --shadow-sm: 0px 2px 4px 0px hsl(220 15% 12% / 0.06), 0px 1px 2px -1px hsl(220 15% 12% / 0.04);
  --shadow: 0px 4px 6px -1px hsl(220 15% 12% / 0.08), 0px 2px 4px -2px hsl(220 15% 12% / 0.05);
  --shadow-md: 0px 6px 10px -2px hsl(220 15% 12% / 0.10), 0px 4px 6px -2px hsl(220 15% 12% / 0.06);
  --shadow-lg: 0px 10px 15px -3px hsl(220 15% 12% / 0.12), 0px 6px 8px -3px hsl(220 15% 12% / 0.08);
  --shadow-xl: 0px 20px 25px -5px hsl(220 15% 12% / 0.14), 0px 10px 12px -4px hsl(220 15% 12% / 0.10);
  --shadow-2xl: 0px 25px 50px -12px hsl(220 15% 12% / 0.20);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  /* Automatically computed borders - intensity can be controlled by the user by the --opaque-button-border-intensity setting */

  /* Fallback for older browsers */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

.dark {
  --button-outline: rgba(255, 255, 255, .10);
  --badge-outline: rgba(255, 255, 255, .05);

  --opaque-button-border-intensity: 9;
  /* In terms of percentages */

  /* Backgrounds applied on top of other backgrounds when hovered/active */
  --elevate-1: rgba(255, 255, 255, .04);
  --elevate-2: rgba(255, 255, 255, .09);

  --background: 220 15% 10%;

  --foreground: 0 0% 96%;

  --border: 220 10% 20%;

  --card: 220 12% 12%;

  --card-foreground: 0 0% 96%;

  --card-border: 220 8% 18%;

  --sidebar: 220 15% 14%;

  --sidebar-foreground: 0 0% 96%;

  --sidebar-border: 220 8% 20%;

  --sidebar-primary: 215 70% 45%;

  --sidebar-primary-foreground: 0 0% 100%;

  --sidebar-accent: 220 12% 20%;

  --sidebar-accent-foreground: 0 0% 96%;

  --sidebar-ring: 215 70% 50%;

  --popover: 220 12% 16%;

  --popover-foreground: 0 0% 96%;

  --popover-border: 220 8% 22%;

  --primary: 215 70% 45%;

  --primary-foreground: 0 0% 100%;

  --secondary: 220 10% 22%;

  --secondary-foreground: 0 0% 96%;

  --muted: 220 12% 18%;

  --muted-foreground: 220 10% 65%;

  --accent: 35 100% 55%;

  --accent-foreground: 220 15% 10%;

  --destructive: 0 72% 45%;

  --destructive-foreground: 0 0% 100%;

  --input: 220 10% 35%;
  --ring: 220 70% 50%;
  --chart-1: 220 70% 55%;
  --chart-2: 38 92% 65%;
  --chart-3: 220 12% 70%;
  --chart-4: 200 60% 60%;
  --chart-5: 280 60% 65%;

  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.18), 0px 1px 2px -1px hsl(0 0% 0% / 0.12);
  --shadow: 0px 4px 6px -1px hsl(0 0% 0% / 0.22), 0px 2px 4px -2px hsl(0 0% 0% / 0.15);
  --shadow-md: 0px 6px 10px -2px hsl(0 0% 0% / 0.25), 0px 4px 6px -2px hsl(0 0% 0% / 0.18);
  --shadow-lg: 0px 10px 15px -3px hsl(0 0% 0% / 0.30), 0px 6px 8px -3px hsl(0 0% 0% / 0.22);
  --shadow-xl: 0px 20px 25px -5px hsl(0 0% 0% / 0.35), 0px 10px 12px -4px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0px 25px 50px -12px hsl(0 0% 0% / 0.45);

  /* Automatically computed borders - intensity can be controlled by the user by the --opaque-button-border-intensity setting */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  .min-h-screen.py-20 {
    padding-bottom: 0px !important;
  }

  section.w-full {
    padding-top: 50px !important;
  }

  .grid.grid-cols-1.lg\:grid-cols-2.gap-12.items-start.mb-32 {
    margin-bottom: 50px !important;
  }

  .mb-32.-mx-6.px-6.py-32.bg-gradient-to-br.from-slate-50.to-slate-100 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
  }

  .relative.aspect-\[3\/4\].overflow-hidden.rounded-md.lg\:sticky.lg\:top-24 {
    margin-bottom: -70px !important;
  }

  .relative.aspect-\[3\/4\].overflow-hidden.rounded-md.lg\:sticky.lg\:top-24 img.w-full.h-full.object-cover {
    height: 87% !important;
  }

  h1.font-serif.text-5xl.md\:text-6xl.font-bold.mb-4 {
    font-size: 30px !important;
  }

  .space-y-8 .space-y-4.text-muted-foreground.leading-relaxed {
    font-size: 15px !important;
  }

  p.text-lg.text-muted-foreground.max-w-2xl.mx-auto {
    font-size: 19px !important;
  }

  p.text-lg.mb-8.opacity-90.max-w-2xl.mx-auto {
    font-size: 15px !important;
  }

  h1.text-3xl.md\:text-7xl.font-bold.text-white.mb-6.tracking-tight {
    font-size: 38px;
    line-height: 40px;
  }

  .mb-32 {
    margin-bottom: 4rem !important;
  }

  h2.font-serif.text-3xl.font-semibold.mb-4 {
    font-size: 21px !important;
    line-height: 40px !important;
  }

  .shadcn-card.rounded-xl.border.bg-card.text-card-foreground.shadow-sm.p-6.border-card-border h3.font-semibold.mb-4 {
    display: none !important;
  }

  button.inline-flex.items-center.justify-center.gap-2.whitespace-nowrap.text-sm.font-medium.focus-visible\:outline-none.focus-visible\:ring-1.focus-visible\:ring-ring.disabled\:pointer-events-none.disabled\:opacity-50.\[\&_svg\]\:pointer-events-none.\[\&_svg\]\:size-4.\[\&_svg\]\:shrink-0.hover-elevate.active-elevate-2.text-primary-foreground.border.border-primary-border.min-h-10.px-8.h-16.w-16.rounded-full.shadow-2xl.hover\:shadow-3xl.transition-all.duration-300.hover\:scale-110.bg-primary.hover\:bg-primary\/90 {
    height: 45px !important;
  }

  div a.text-xl.font-semibold.text-white.hover\:text-primary.transition-colors.break-all,
  a.text-xl.font-semibold.text-white.hover\:text-primary.transition-colors,
  div p.text-xl.font-semibold.text-white {
    font-size: 16px !important;
  }

  section.relative.py-32.bg-gradient-to-br.from-slate-900.via-slate-800.to-slate-900.overflow-hidden {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  section.py-32.bg-background {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }

  section.py-24.bg-background {
    padding-bottom: 0rem !important;
  }

  section.py-32.bg-gradient-to-br.from-slate-50.to-slate-100 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  .whitespace-nowrap.inline-flex.items-center.rounded-md.border.px-2\.5.py-0\.5.font-semibold.transition-colors.focus\:outline-none.focus\:ring-2.focus\:ring-ring.focus\:ring-offset-2.hover-elevate.shadow-xs.bg-primary\/10.text-primary.border-primary\/20.font-sans.text-xs.uppercase.tracking-wider {
    background: #000000 !important;
    color: white !important;
  }


  .relative.z-10.max-w-4xl.mx-auto.px-6.text-center {
    padding-bottom: 50px !important;
  }

  .text-sidebar-foreground\/70.ring-sidebar-ring.flex.h-8.shrink-0.items-center.rounded-md.text-xs.font-medium.outline-hidden.transition-\[margin\,opacity\].duration-200.ease-linear.focus-visible\:ring-2.\[\&\>svg\]\:h-4.\[\&\>svg\]\:w-4.\[\&\>svg\]\:shrink-0.group-data-\[collapsible\=icon\]\:-mt-8.group-data-\[collapsible\=icon\]\:opacity-0.px-4.py-4 {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
}

@layer utilities {

  /* Hide ugly search cancel button in Chrome until we can style it properly */
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  /* Placeholder styling for contentEditable div */
  [contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: hsl(var(--muted-foreground));
    pointer-events: none;
  }

  .no-default-hover-elevate {}

  .no-default-active-elevate {}

  .toggle-elevate::before,
  .toggle-elevate-2::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    z-index: -1;
  }

  .toggle-elevate.toggle-elevated::before {
    background-color: var(--elevate-2);
  }

  .border.toggle-elevate::before {
    inset: -1px;
  }

  .hover-elevate:not(.no-default-hover-elevate),
  .active-elevate:not(.no-default-active-elevate),
  .hover-elevate-2:not(.no-default-hover-elevate),
  .active-elevate-2:not(.no-default-active-elevate) {
    position: relative;
    z-index: 0;
  }

  .hover-elevate:not(.no-default-hover-elevate)::after,
  .active-elevate:not(.no-default-active-elevate)::after,
  .hover-elevate-2:not(.no-default-hover-elevate)::after,
  .active-elevate-2:not(.no-default-active-elevate)::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    z-index: 999;
  }

  .hover-elevate:hover:not(.no-default-hover-elevate)::after,
  .active-elevate:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-1);
  }

  .hover-elevate-2:hover:not(.no-default-hover-elevate)::after,
  .active-elevate-2:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-2);
  }

  .border.hover-elevate:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate-2:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate-2:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after {
    inset: -1px;
  }
}